{% extends 'hub/base.html.twig' %}

{% block title%}Hub{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello, {{ test }}</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/tatib/PhpstormProjects/streemi/src/Controller/HubController.php</code></li>
        <li>Your template at <code>C:/Users/tatib/PhpstormProjects/streemi/templates/hub/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
