{% block content %}
<a href="{{ path('app_hub-app_categorie', { 'value': category.name }) }}" class="relative flex flex-row items-center justify-center rounded-xl overflow-hidden aspect-square border hover:scale-105 cursor-pointer transition hover:bg-gray-100">
                        <span class="text-red-600 font-bold mr-2">
                            <svg class="h-8 w-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="{{ category.icon }}" />
                            </svg>
                        </span>
    <span class="capitalize font-medium text-3xl truncate">{{ category.name }}</span>
</a>
{% endblock %}